<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Carregar Vue 3 corretamente -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37"></script>
    <!-- A URL correta para carregar o Vue 3 -->
    <script src="app.js" defer></script>
    <title>Hello Vue</title>
  </head>
  <body>
    <div id="app">
      <form id="app-form">
        <input
          type="text"
          v-model="input_name"
          id=""
          placeholder="Digite o seu nome"
        />
        <input
          type="number"
          v-model="input_age"
          id=""
          placeholder="Digite a sua idade"
        />
        <input type="submit" value="Enviar" v-on:click="submitForm" />
      </form>
      <p>O meu nome é: {{ name }}, e tenho: {{ age }} anos</p>
      <p>
        O meu nome usando Data biding é: {{ input_name }}, e tenho: {{ input_age
        }} anos
      </p>
    </div>
  </body>
</html>
